.Clavier {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin: auto;
  user-select: none;
}

.DevineMot {
  display: block;
  text-align: center;
  font-size: 2em;
}

.WinScreen,.Intro {
  display: block;
  text-align: center;

}

